:root {
  --color-black: #201f1e;
  --color-white: #fff;

  /* --color-primary can be changed by the user, see HomePage.vue */
  --color-primary: var(--color-black);

  --spacing: 0.5rem;
  --stroke-thickness: 2px;
  --stroke-thickness-thick: 3px;
  --transition-duration: 0.15s;

  --shadow-colored: 3px 3px var(--color-primary);
  --shadow-white: 3px 3px var(--color-white);
}
